* {
    margin: 0px; 
}

section {
    height: 100vh; 
    background-color: #ffe120f6;
    font-family: 'Kanit', sans-serif;
}

.score-tracker {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.score-tracker p {
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

/* Loading screen styling */
.loading-screen {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loading-screen h1 {
    font-size: 70px;
}

/* Button styling */
.pushable {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(34, 95%, 15%);
    transform: translateY(5px);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(36, 95%, 30%);
  }
  .front {
    display: block;
    position: relative;
    padding: 22px 80px;
    border-radius: 12px;
    font-size: 2.25rem;
    color: white;
    background: hsl(36, 100%, 50%);
    transform: translateY(-4px);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
  }
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }